<!DOCTYPE html>
<html>
<head>
  <title>Mobile Mechanic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>
  <script src="../js/templates.js"></script>
</head>

<body>
  <main>
    <!-- top nav bar -->
    <div class="navbar-fixed">
      <nav class="indigo darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a href="../index.html" class="brand-logo"><img src="../images/mobileMechLogo2.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a id="top-nav-quote" href="./quote.html">Get Serviced Now</a></li>
            <li><a id="top-nav-users" href="./userHome.html">Users</a></li>
            <li><a id="top-nav-techs" href="./techHome.html">Technicians</a></li>
            <li><a id="top-nav-about" href="./about.html">About Us</a></li>
            <li><a id="top-nav-auth" href="./auth.html">Login/Register</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- sidebar nav on shrink -->
    <ul class="sidenav" id="mobile-demo">
      <li class="active"><a href="../index.html">Home</a></li>
      <li><a id="side-nav-quote" href="./quote.html">Get Serviced Now</a></li>
      <li><a id="side-nav-users" href="./userHome.html">Users</a></li>
      <li><a id="side-nav-techs" href="./techHome.html">Technicians</a></li>
      <li><a id="side-nav-about" href="./about.html">About Us</a></li>
      <li><a id="side-nav-contact" href="./contact.html">Contact</a></li>
      <li><a id="side-nav-auth" href="./auth.html">Login/Register</a></li>
    </ul>
  
    <div class="section">
      <!-- welcome jumbotron header  -->
      <div class="parallax-container" style="background-color:rgba(0, 0, 0, 0.407)">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br><br>
            <h1 class="header center cyan-text text-lighten-4">Mobile Mechanics</h1>
            <div class="row center">
              <h4 class="header orange-text text-lighten-2">
                A passionate group of professional committed to problem-solving and efficient operation
              </h4>
            </div>
      
            <div class="row center">
              <a class="btn-large waves-effect waves-light cyan lighten-1" href="about.html">
                Learn More
              </a>
            </div>
            
          </div>
        </div>
        <div class="parallax"><img src="../images/mercedes-841465_1280.jpg"></div>
      </div>
    
      <!-- how does it work container  -->
      <div class="container">
        <div class="section">
          <!-- icons section -->
          <div class="row">
            <div class="col s12 m5">
              <h5 class="center">Who We Are</h5>
              <p class="light flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="../images/land-2564197_1280.jpg">
                  <span class="card-title">Copper Skull Association</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- customer/technician portal -->
      <div class="parallax-container">
        <h2 class="header center cyan-text text-lighten-4">Discover What We Can Do For You</h2>
        <div class="container">
          <div class="row">
            <div class="section">
              <!-- customer portal -->
              <div class="col s6">
                <div class="card">
                  <div class="card-content center-align">
                    <h5>Are you a car owner looking for a hassle-free car care experience?</h5>
                    <br>
                    <a href="userHome.html" class="indigo darken-4 btn-large">
                      Yes, I'd Like Service
                    </a>
                  </div>
                  <div class="card-action center-align">
                    <a href="userHome.html">Learn More</a>
                  </div>
                </div>
              </div>
              <!-- technician portal -->
              <div class="col s6">
                <div class="card">
                  <div class="card-content center-align">
                    <h5>Are you an automotive technician looking for a side-hustle?</h5>
                    <br>
                    <a href="techHome.html" class="btn-large orange darken-4">
                      Yes, I'm Ready To Work
                    </a>
                  </div>
                  <div class="card-action center-align">
                    <a href="techHome.html">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="../images/car-932455_1920.jpg"></div>
    
      </div>
    
      <!-- get in touch section  -->
      <div class="row flex" style="margin-top: 5%">
        <div class="col s5 flex">
          <div class="section white" id="contactSection">
            <div class="container">
              <h3 id="contact">Contact Us</h3>
              <hr>
              <p class="flow-text">Your satisfaction is our motivation. Don't hesitate to get in touch with questions or comments!</p>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m4">
                      <input type="text" id="txtFeedName">
                      <label>Name</label>
                    </div>
                    <div class="input-field col s12 m8">
                      <input type="email" id="txtFeedEmail">
                      <label>Email</label>
                    </div>
                    <div class="input-field col s12">
                      <textarea class="materialize-textarea" id="txtFeedMessage"></textarea>
                      <label>Message/Feedback</label>
                    </div>
                  </div>
                  <button class="btn-large blue waves-effect waves-ligh" id="btnFeedSubmit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col s7 flex">
          <div class="parallax-container" id="quote-reveal-container">
            <div class="parallax"><img src="../images/Blue-Collar-Workers.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- footer section -->
  <footer class="page-footer section indigo darken-4 white-text">

    <div class="row">

      <div class="col s12 m4">
        <div class="container">
          <ul>
            <li><a class="white-text" href="./quote.html">Get Serviced Now</a></li>
            <li><a class="white-text" href="./about.html">About Us</a></li>
            <li><a class="white-text" href="./contact.html">Contact Us</a></li>
            <li><a class="white-text" href="./auth.html">Login/Register</a></li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4 offset-m4">
        <a href="index.html"><img src="../images/mobileMechLogo2.png"></a>
        <p>For all intents and purposes herein, Mobile Mechanic™ is a licensed subsidiary of Copper Skull Association, Inc. All rights reserved © 2018. </p>
      </div>
    </div>

  </footer>
  
  
  <!-- my scripts -->
  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
        M.AutoInit();
    });
  </script>
  <script src="/js/car.js"></script>
    
  </body>
  </html>
  