<div class="section">
  <div class="container">
    <h3 class="center">Select a day and time for your appointment</h3>
    <p class="flow-text center">Our operating hours are from 9 - 5 Monday through Friday</p>
    <br>
    <br>
    <div class="row">
      <div class="input-field col s12 m6">
        <input type="text" class="datepicker" id="txtDate">
        <label>Select a day</label>
      </div>
      <div class="input-field col s12 m6">
        <input type="text" class="timepicker" id="txtTime">
        <label>Select a time</label>
      </div>
    </div>
  </div>
</div>

<!-- Therer will be a section to select a technician -->

<!-- Payment section -->
<div class="section">
  <div class="container ">
    <h3 class="center">Payment Information</h3>
    <div class="row">
      <div class="input-field col s12 m4">
        <input type="text">
        <label>Name on card</label>
      </div>
      <div class="input-field col s12 m4">
        <input type="number">
        <label>Card Number</label>
      </div>
      <div class="input-field col s6 m2">
        <input type="number" placeholder="00/00">
        <label>Expiration date</label>
      </div>
      <div class="input-field col s6 m2">
        <input type="number" placeholder="123">
        <label>CVC</label>
      </div>
    </div>
  </div>
</div>

<div class="section center">
  <p class="flow-text red-text" id="errMessage"></p>
  <button id="btnPay" class="btn-large blue waves-effect waves-light">Book appointment</button><br><br><br>
</div>
