<div class="section container align-top">
  <div class="card">
    <div class="card-content">
      <h5><strong>Car:</strong> <span id="carInfo"></span></h5>
      <h5><strong>Oil Type:</strong> <span id="oilType"></span></h5>
      <h5><strong>Oil Capacity:</strong> <span id="oilCapacity"></span></h5>
      <h5><strong>Labor & Parts Total Cost:</strong> <span id="totalCost"></span></h5>
    </div>
    <div class="card-action">
      <p class="flow-text red-text" id="errMessage"></p>
      <button class="btn green waves-effect waves-light" id="btnBook">Register to make appointment</button>
    </div>
  </div>
</div>