<div class="section">
	<div class="container white center">
    <h3>Estimate Information</h3>
      <table class="responsive-table">
        <tbody>
          <tr>
            <th>Car</th>
            <th>Oil Type</th>
            <th>Oil Capacity (Quarts)</th>
            <th>Labor & Parts Cost</th>
          </tr>
          <tr>
            <!-- Display car information -->
            <td id="carInfo">2011 Toyota 4Runner 4.0L</td>
            <!-- Display oil type -->
            <td id="oilType">Full Synthetic</td>
            <!-- Display oil capacity -->
            <td id="oilCapacity">5.5</td>
            <!-- Display total cost -->
            <td id="totalCost">$48.50</td>
          </tr>
        </tbody>
      </table><br><br>
      <button id="btnBook" class="btn-large blue waves-effect waves-light">Schedule an appointment</button><br><br><br>
	</div>
</div>