<div class="section">
	<div class="container white">
		<h3 class="center">Enter vehicle information</h3><br>
    <div class="row">
      <h5 class="center">Enter VIN</h5>
      <div class="col s12">
        <div class="input-field">
          <input type="text" >
          <label>VIN</label>
        </div>
      </div>
      <div class="col s12">
        <h5 class="center">OR</h5><br>
        <div class="row">
          <div class="input-field col s6 m3">
            <select id="make">
              <option value="" disabled selected>Make</option>
            </select>
            <label>Select you car make</label>
          </div>
          <div class="input-field col s6 m3">
            <select id="year">
              <option value="" disabled selected>Year</option>
            </select>
            <label>Select year</label>
          </div>
          <div class="input-field col s6 m6">
            <select id="model">
              <option value="" disabled selected>Model</option>
            </select>
            <label>Select model</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field">
          <select>
            <option value="" disabled selected>Select a service</option>
            <option value="oil">Oil and Filter</option>
          </select>
          <label>Select a service</label>
        </div>
      </div>
    </div><br>
    <h3 class="center">Enter your information</h3><br>
    <div class="row">

      <div class="input-field col s12">
        <input type="text" >
        <label>Street Name</label>
      </div>

      <div class="input-field col s6">
        <input type="text" >
        <label>City</label>
      </div>

      <div class="input-field col s6">
        <input type="number" >
        <label>Zipcode</label>
      </div>
    </div>
    <div class="center">
      <button class="btn-large blue waves-effect waves-light" id="btnQuoteMe">Get Quote</button><br><br><br>
    </div>
	</div>
</div>
