<div class="section">
  <div class="container">
    <div id="quote-form">
      <h5 class="center">Become a Mobile Mechanic</h5>

      <div class="row">
          <div class="col s6">
            <div class="input-field">
                <input id="fName" type="text" >
                <label>First Name</label>
            </div>
          </div>
          <div class="col s6">
              <div class="input-field">
                  <input id="lName" type="text" >
                  <label>Last Name</label>
              </div>
          </div>
          <div class="col s12">
              <div class="input-field">
              <input id="email" type="email">
              <label>email@email.email</label>
              </div>
          </div>
          <div class="input-field col s6">
              <label>Phone</label>
              <input id="phone" type="text">
          </div>
          <div class="input-field col s6">
              <label>Area Code</label>
              <input id="areaCode" type="number">
          </div>
          <div class="input-field col s6">
              <label>Password</label>
              <input id="password" type="password">
          </div>
          <div class="input-field col s6">
              <label>Confirm Password</label>
              <input id="pwConfirm" type="password">
          </div>
          <div class="col s12">
            <div class="input-field">
              <h5>Upload Profile Picture</h5>
              <input id="picture" type="file" name="profPic" accept=".jpg, .png, .gif">
            </div>
          </div>
        </div>
        <p>
          By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
        </p>
        <div class="col s6">
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span>I agree</span>
            </label>
          </p>
        </div>
        <div class="col s6">
          <button class="btn blue waves-effect waves-light right" id="registerBtn">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>