<!-- <script id="page-template" type="text/x-handlebars-template"> -->
  <head>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
<html>
  <body>
  <div class="section">
    <div class="container center">
      <h1>Technician Portal</h1>
      <p class="flow-text">Here's your upcoming jobs</p>
      
  <!-- Modal Trigger -->
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <a class="waves-effect waves-light modal-trigger" href="#orderId">
          <div class="icon-block">
            <h5 class="center">{{datetime}}</h5>
            <h5 class="center">{{custName}}</h5>
            <h5 class="center">{{service}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="orderId" class="modal">
    <div class="modal-content">
      <h4>{{orderID}}</h4>
      <h4>{{custName}}</h4>
      <h4>{{service}}</h4>
      <h4>{{custAddress}}</h4>
      <h4>{{car}}</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <a class="waves-effect waves-light modal-trigger" href="#orderId">
          <div class="icon-block">
            <h5 class="center">{{datetime}}</h5>
            <h5 class="center">{{custName}}</h5>
            <h5 class="center">{{service}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
    
      <!-- Modal Structure -->
      <div id="orderId" class="modal">
        <div class="modal-content">
          <h4>{{orderID}}</h4>
          <h4>{{custName}}</h4>
          <h4>{{service}}</h4>
          <h4>{{custAddress}}</h4>
          <h4>{{car}}</h4>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div class="col s12 m4">
          <div class="card blue-grey darken-1">
              <div class="card-content white-text">
          <a class="waves-effect waves-light modal-trigger" href="#orderId">
              
                  <div class="icon-block">
                    <h5 class="center">{{datetime}}</h5>
                    <h5 class="center">{{custName}}</h5>
                    <h5 class="center">{{service}}</h5>
                  </div>
              </div>
          </a>
          </div>
          </div>
        
          <!-- Modal Structure -->
          <div id="orderId" class="modal">
            <div class="modal-content">
              <h4>{{orderID}}</h4>
              <h4>{{custName}}</h4>
              <h4>{{service}}</h4>
              <h4>{{custAddress}}</h4>
              <h4>{{car}}</h4>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
            <a class="waves-effect waves-light modal-trigger" href="#orderId">
                
                    <div class="icon-block">
                      <h5 class="center">{{datetime}}</h5>
                      <h5 class="center">{{custName}}</h5>
                      <h5 class="center">{{service}}</h5>
                    </div>
                </div>
            </a>
            </div>
          </div>
            
              <!-- Modal Structure -->
  <div id="orderId" class="modal">
    <div class="modal-content">
      <h4>{{orderID}}</h4>
      <h4>{{custName}}</h4>
      <h4>{{service}}</h4>
      <h4>{{custAddress}}</h4>
      <h4>{{car}}</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
      

      <!-- {{/each}} -->
    </div>
  </div>
<!-- </script> -->

<script>
    $(document).ready(function(){
    $('.modal').modal();
  });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
</html>