<!DOCTYPE html>
<html>
<head>
  <title>Mobile Mechanic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>
  <script src="../js/templates.js"></script>
  <script src="../js/userProfile.js"></script>
</head>

<body>
  <main>
    <!-- top nav bar -->
    <div class="navbar-fixed">
      <nav class="indigo darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a href="../index.html" class="brand-logo"><img src="../images/mobileMechLogo2.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a id="top-nav-quote" href="./quote.html">Get Serviced Now</a></li>
            <li><a id="top-nav-users" href="./userHome.html">Users</a></li>
            <li><a id="top-nav-techs" href="./techHome.html">Technicians</a></li>
            <li><a id="top-nav-about" href="./about.html">About Us</a></li>
            <li><a id="top-nav-auth" href="./auth.html">Login/Register</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- sidebar nav on shrink -->
    <ul class="sidenav" id="mobile-demo">
      <li class="active"><a href="../index.html">Home</a></li>
      <li><a id="side-nav-quote" href="./quote.html">Get Serviced Now</a></li>
      <li><a id="side-nav-users" href="./userHome.html">Users</a></li>
      <li><a id="side-nav-techs" href="./techHome.html">Technicians</a></li>
      <li><a id="side-nav-about" href="./about.html">About Us</a></li>
      <li><a id="side-nav-contact" href="./contact.html">Contact</a></li>
      <li><a id="side-nav-auth" href="./auth.html">Login/Register</a></li>
    </ul>

    <!-- jumbotron header -->
    <script id="user-page-template" type="text/x-handlebars-template">
    <div class="parallax-container" style="background-color: rgba(0, 0, 0, 0.5)">
      <div class="section">
        <div class="container">
          <div class="row valign-wrapper">
            <div class="col s12 m4">
              <div class="card" style="border-radius: 5px; background-color: #f9b65385">
                <div class="card-image">
                  <img src="../images/dude-with-car.jpg" id="userProfPic">
                </div>
                <div class="card-content indigo-text text-darken-3">
                  <p>{{carMake}}</p>
                  <p>{{userLocation}}</p>
                  <p>{{memberSince}}</p>
                </div>
              </div>
            </div>
            <div class="col s12 m7">
              
              <h1 class="header cyan-text text-lighten-4"> Welcome back, {{name}}</h1>
              <div class="row">
                <h5 class="header orange-text text-lighten-2">What can Mobile Mechanic™ help you with today?</h5>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../images/car-1149997_1280.jpg"></div>
    </div>
    </script>
    <div id="app"></div>
    
    <!-- how does it work container  -->
    <div class="container">
      <div class="section">
        <div class="row">

          <div class="col s6 m4">
            <div class="icon-block">
              <h2 class="center cyan-text text-lighten-2"><i class="medium material-icons">attach_money</i></h2>
              <h5 class="center">Get a Quote</h5>
              <hr>
              <br>
              <div class="row center">
                <a href="#quoteSection"><button class="btn-large blue waves-effect waves-light cyan lighten-1" id="btnQuote">Get a quote</button></a>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center cyan-text text-lighten-2"><i class="medium material-icons">people</i></h2>
              <h5 class="center">Explore Technicians</h5>
              <hr>
              <br>
              <div class="row center">
                <a href="#exploreTechnicians"><button class="btn-large blue waves-effect waves-light cyan lighten-1" id="exploreTechsBtn">Explore Technicians</button></a>
              </div>
            </div>
          </div>
          
          <div class="col s6 m4">
            <div class="icon-block">
              <h2 class="center cyan-text text-lighten-2"><i class="medium material-icons">assignment_ind</i></h2>
              <h5 class="center">Update Info</h5>
              <hr>
              <br>
              <div class="row center">
                <a href="#quoteSection"><button class="btn-large blue waves-effect waves-light cyan lighten-1" id="btnQuote">Update Info</button></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <!-- User's Car Detail Section -->
    <div class="row flex">
      <h4 class="center" style="padding-bottom: 5px;">Your Car</h4>
      <h5 class="center" style="padding-bottom: 5px;">Browse services and upgrades for your car</h5>
      
      <div class="col s12 m3">
        <ul class="collection with-header">
          <li class="collection-item avatar valign-wrapper">
            <img src="https://cdn4.iconfinder.com/data/icons/bold-car-element-1/512/drawing8-512.png" class="circle">
            <p class=" flow-text">Oil Change</p>
          </li>
          <li class="collection-item avatar valign-wrapper">
            <img src="https://s3.amazonaws.com/mediaspigot-photos/2633/12/11141825/125-Point-Inspection.png" class="circle">
            <p class="flow-text">Tire Rotation</p>
          </li>
          <li class="collection-item avatar valign-wrapper">
            <img class="circle" src="https://cdn4.iconfinder.com/data/icons/wsd-automobile/512/wsd_cars_30-512.png">
            <p class="flow-text">Air Filter Replacements</p>
          </li>
          <li class="collection-item avatar valign-wrapper">
            <img src="https://png.pngtree.com/svg/20150625/wiper_blade_477744.png" class="circle">
            <p class="flow-text">Wiper Blades Replacements</p>
          </li>
          <li class="collection-item avatar valign-wrapper">
            <img src="https://cdn0.iconfinder.com/data/icons/car-parts-and-items-1/100/carset10-512.png" class="circle">
            <p class="flow-text">Bulb Replacements</p>
          </li>
          <li class="collection-item avatar valign-wrapper">
            <a href="#exploreTechnicians"><button class="btn-large blue waves-effect waves-light cyan lighten-1" id="getQuote">Start New Order</button></a>
          </li>
        </ul>
      </div>

      <div class="col s12 m9">
        <div class="parallax-container" id="car-display-container">
          <div class="parallax"><img src="../images/aston-2118857_1280.jpg"></div>
        </div>
      </div>
    
    </div>

    <!-- explore technicians -->
    <div id="exploreTechnicians">

      <div class="row flex">
        <h4 class="center" style="padding: 15px;">Our Technicians</h4>
        <h5 class="center" style="padding-bottom: 5px;">Find the best service providers near you, and add them to your Favorites!</h5>
    
        <div class="col s11 m8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103487.0474471834!2d-78.5421855!3d35.84973345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac5a49f3912e6f%3A0xb9c9bbed7cf69f36!2sNortheast+Raleigh%2C+Raleigh%2C+NC!5e0!3m2!1sen!2sus!4v1541797643434" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    
        <div class="col s1 m4" id="technicians-list">
          <ul class="collection with-header" style="height: 450px; overflow-y: scroll">
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Earnheardt-headshot-m-1.jpg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
    
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Joichi_Ito_Headshot_2007.jpg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
    
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Babe_Ruth_Red_Sox_1918_headshot_crop.jpg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
    
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Emojione_1F477.svg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Emojione_1F477.svg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Emojione_1F477.svg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Emojione_1F477.svg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
                  </li>
                </ul>
            </li>
            <li class="collection-item avatar valign-wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Emojione_1F477.svg" class="circle">
                <ul>
                  <li>
                      <h5 id="techName">{{technicianName}}</h5>
                      <p id="techSkills">{{technicianSkills}}</p>
                      <p id="techRating">{{technicianRating}}</p>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <!-- footer section -->
  <footer class="section indigo darken-4 white-text">

    <div class="row">

      <div class="col s12 m4">
        <div class="container">
          <ul>
            <li><a class="white-text" href="./quote.html">Get Serviced Now</a></li>
            <li><a class="white-text" href="./about.html">About Us</a></li>
            <li><a class="white-text" href="./contact.html">Contact Us</a></li>
            <li><a class="white-text" href="./auth.html">Login/Register</a></li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4 offset-m4">
        <a href="index.html"><img src="../images/mobileMechLogo2.png"></a>
        <p>For all intents and purposes herein, Mobile Mechanic™ is a licensed subsidiary of Copper Skull Association, Inc. All rights reserved © 2018. </p>
      </div>
    </div>

  </footer>



<!-- my scripts -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	$(document).ready(function(){
			M.AutoInit();
	});
</script>
<script src="/js/car.js"></script>

</body>
</html>