<div class="section ">
	<div class="container center">
    <h3>Thank you for your business</h3>
    <p class="flow-text">Here's your work order information</p>
    <table class="responsive-table">
      <tbody>
        <tr>
          <th>Order #</th>
          <th>Service Type</th>
          <th>Scheduled date</th>
          <th>Technician</th>
        </tr>
        <!-- Load work order information below -->
        <tr>
          <td>123</td>
          <td>Oil Change</td>
          <td>11/12/18 at 9:30AM</td>
          <td>Tech Name</td>
        </tr>
      </tbody>
    </table><br>
    <p>An email has been sent with your work order information. Including information to contact your technician.</p>
  </div>
</div>
<div class="section">
  <div class="container center">
    <p class="flow-text">Would you like to create an account to manage your work orders?</p>
    <button class="btn-large blue waves-effect waves-light" id="btnGetAccount">Create Account</button>
  </div><br><br><br>
</div>
