<div class="section" id="workorder">
	<div class="container ">
    <div class="row">
      <div class="col s12 ">
        <div class="card-panel large">
          <div class="card-content">
            <h3>Thank you for your business</h3>
            <p class="flow-text">Here's your work order information:</p>
            <table class="">
              <tbody>
                <tr>
                  <th>Comfirmation Number</th>
                  <td id="confirmation">123</td>
                </tr>
                <tr>
                  <th>Job Description</th>
                  <td id="description">Oil</td>
                </tr>
                <tr>
                  <th>Total Cost</th>
                  <td id="cost">$123.20</td>
                </tr>
                <tr>
                  <th>Technician</th>
                  <td id="tech">N/A</td>
                </tr>
                <tr>
                  <th>Appointment date</th>
                  <td id="appointment">2 Dec, 2018 at 9:30 AM</td>
                </tr>
              </tbody>
            </table>
            <p>An email has been sent with your work order information. Including information to contact your technician.</p>
            <p class=" no-print">Create an account to manage your appointments</p>
            <div class="card-action center no-print">
              <button class="btn blue waves-effect waves-light left" id="btnCreateAccount">Create Account</button>
              <button class="btn green waves-effect waves-light right" id="btnPrint">Print</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>